@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  text-align: center;
  background-image: url(./images/background.png);
  color: white;
  font-family: 'Rubik', sans-serif;
}
.solar-system {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-weight: bold;
}

.planet-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 150px;
}

.mission-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
